[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-contrib-python = "*"
pyzbar = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.pylibdmtx]
extras = [ "scripts",]
